.stth-popup-container {
  max-height: 40vh;
  overflow-y: auto;
}

.stth--history {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 10px;
  text-align: left;
}
.stth--history .stth--item {
  display: flex;
  gap: 1em;
  align-items: center;
  transition: 200ms;
}

.stth--history .stth--actions {
  flex: 0 0 auto;
  display: flex;
  gap: 1em;
}

.stth--history .toast {
  cursor: default;
  position: relative;
  pointer-events: auto;
  overflow: hidden;
  margin: 0;
  padding: 15px 15px 15px 50px;
  width: 100%;
  max-width: 575px;
  border-radius: 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  box-shadow: 0 0 12px #999;
  color: #FFF;
}
.stth--history .toast.stth--hasListener {
  cursor: pointer;
}

.stth--history .toast-success {
  background-color: #51A351;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==) !important;
}
.stth--history .toast-error {
  background-color: #BD362F;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S1fWgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B8IQUqWcDhbwAAAAASUVORK5CYII=) !important;
}
.stth--history .toast-info {
  background-color: #2F96B4;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=) !important;
}
.stth--history .toast-warning {
  background-color: #F89406;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=) !important;
}
.stth--history .toast-close-button {
  display: none;
}
.stth--history .stth--timestamp {
  font-size: smaller;
  left: 0.25em;
  opacity: 0.5;
  position: absolute;
  top: 0;
  transition: 200ms;
}
.stth--history .stth--item:hover .stth--timestamp {
  opacity: 1;
}
.stth--hideListDlg table {
  width: 100%;
  border-collapse: collapse;
}
.stth--hideListDlg th,
.stth--hideListDlg td {
  text-align: left;
  padding: 0.25em 1em;
  white-space: pre-line;
  vertical-align: top;
  border: 1px solid;
}
.stth--hideListDlg th:nth-child(odd),
.stth--hideListDlg td:nth-child(odd) {
  width: 1px;
}

/* 탭 버튼 스타일 */
.stth-tabs {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--SmartThemeBorderColor);
}

.stth-tabs button {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid var(--SmartThemeBorderColor);
  background-color: var(--SmartThemeBlurTintColor);
  color: var(--SmartThemeBodyColor);
  cursor: pointer;
  opacity: 0.6;
}

.stth-tabs button:hover {
  opacity: 1;
}

.stth-tabs button.active {
  opacity: 1;
  background-color: var(--SmartThemeQuoteColor);
}

/* 알림 목록을 담을 공간 */
.stth-history-list {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

/* [추가!] 메인 탭을 위한 스타일 */
.stth-main-tabs {
    display: flex;
    gap: 5px;
    padding: 0 5px 10px 5px;
    border-bottom: 1px solid var(--SmartThemeBorderColor);
    margin-bottom: 10px;
}
.stth-main-tabs button {
    flex-grow: 1;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid var(--SmartThemeBorderColor);
    background-color: var(--SmartThemeBlurTintColor);
    color: var(--SmartThemeBodyColor);
    cursor: pointer;
    opacity: 0.6;
}
.stth-main-tabs button:hover {
    opacity: 1;
}
.stth-main-tabs button.active {
    opacity: 1;
    background-color: var(--SmartThemeQuoteColor);
}

/* [추가!] 차단 목록을 보여줄 공간의 스타일 */
.stth-blocked-list {
    padding: 10px;
}